.container{
    display: flex;
    height: 82%;
    overflow: hidden;
    margin-top: -30px;
    
    
    
}

.container__know{
    width: 50%;
    
    display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  overflow: hidden;
}

.container__get{
    grid-column: span 12;
    grid-row:1/span 2


}

.container__detail{
     grid-column: span 12;
    grid-row:3/span 3

}

.container__skill{
       grid-column: span 12;
       grid-row :1 /span 1;
       display: flex;
    justify-content: center;
}

.button{
 grid-column: span 6;
    grid-row:8/span 3;
}

.heading{
    border-bottom: 3px solid #E1645B;
    width: 50px;
}
.Mobileheading{
    border-bottom: 3px solid #E1645B;
    width: 64px;
}
.techeading{
    border-bottom: 3px solid #E1645B;
    width: 128px;
}

.myWebSkills{
    grid-column: span 12;
    grid-row:2/span 3;
    margin-top: -10px;
}

.myMobileSkills{
    grid-column: span 12;
    grid-row: 7/span 2;
    margin-top: -10px;
}

.myTechnologies{
    grid-column: span 12;
    grid-row:9/span 2;
    margin-top: 5px;
}
.makeFlex{
    display: flex;
    flex-wrap: wrap;
     gap: 20px;


}