.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
}

.grid__greet {
  grid-column: span 12;
  grid-row: span 3;
}

.grid__intro_name {
  color: #e1645b;
}

.grid__intro {
  grid-column: 1 / span 6;
  grid-row: 4 / span 3;
}
.grid__button {
  grid-column: 1 / span 6;
  grid-row: 6 / span 2;
  margin-top: -7px;
}

.grid__socialIcons{
    grid-row: 7/span 1;
    grid-column: 1/span 3;
    display: flex;
    justify-content: space-between;

}
